<!DOCTYPE html>
<html lang="en"
th:replace = "~{base :: parent(~{::#content} , ~{::title} , ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>

    <div id="content"  class="p-4 flex items-center justify-center flex-col">
        <h1 class="text-4xl mb-4">
            Login Page
        </h1>
        <div>
            this is the actual use of fragments
        </div>
    </div>

    <script>
        console.log("Login Page");
    </script>
</body>
</html>